/* GENERAL */
* {
    padding: 0;
    margin: 0;
    padding-right: 0px;
    padding-left: 0px;
    /*font-family: 'Ubuntu';*/
}

body, html {
    height: 100%;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    font-family: 'Ubuntu';
}

.main {
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
    padding-right: 0px;
    padding-left: 0px;
}

.background-primary {
	background-color: #ffffff;
    padding-top: 70px;
    padding-bottom: 70px;
}

.background-secondary {
    background-color: #fcfcfc;
    padding-top: 90px;
    padding-bottom: 90px;
}

.bg-pic {
    background-image: url(./images/bg.svg);
    background-size: cover;
}
/* NAVBAR */

.navbar {
    background-color: whitesmoke;
    padding-top: 11 px;
	padding-bottom: 11 px;
    font-family: "Lato", sans-serif;
    border-color: transparent;
    height: 60px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}


li.nav-item {
    font-size: 16px;
    font-weight: 500;
    font-family: Open 'Lucida Sans';
}

a.navbar-brand {
    font-size: 22px;
    margin-left: 15px;
    color: #212121 !important;
    font-weight: 700;
    text-shadow: -0.5px -0.5px 0 #ffffff, 0.5px -0.5px 0 #ffffff, -0.5px 0.5px 0 #ffffff, 0.5px 0.5px 0 #ffffff;
}

a:hover.navbar-brand {
}

.nav > li > a {
    color: #212121 !important;
    transition: all .2s ease-in-out;
}

    .nav > li > a:hover {
        background-color: lightgray !important;
    }

a.dropdown-item {
    color: #212121;
	font-size: 14px;
}
.dropdown-menu {
	width: 16px;
}

a:hover.dropdown-item {
}

.dropdown-item {
    color: grey;
	padding: 0 !important;
	text-align: center !important;
}

/* Collapse bar */

.collapse .nav a {
    background-color: transparent;
}

/* TO TOP BUTTON SIZE ADUJSTER*/

img.toTop {
    height: 60px;
    width: 60px;
	right: 100px;
}

.toTop {
    position: fixed;
    bottom: 50px;
    opacity: .8;
    z-index: 100;
}
/* SPECIFIC BUTTON STYLES */

/* centering button */

.centerButton {
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 10vw;
}

/* button extra large */
.btn-success {
    color: #ffffff;
    background-color: #4CAF50;
}

.btn {
    font-size: 15px;
    border: 0px;
    border-radius: 0px;
    padding: 10px 20px;
    margin: 5px;
}

.btn-xl {
    border-radius: 15px;
    color: aliceblue;
}

.btn-dark {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}
