/* GENERAL */
* {
    padding: 0;
    margin: 0;
    padding-right: 0px;
    padding-left: 0px;
    /*font-family: 'Ubuntu';*/
}

body, html {
    height: 100%;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    font-family: 'Ubuntu';
}

.main {
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
    padding-right: 0px;
    padding-left: 0px;
}

/* NAVBAR */

.navbar {
    background-color: transparent;
    padding-bottom: 2vh;
    padding-top: .2vh;
    font-family: Arial;
}


li.nav-item {
    font-size: 1.3vw;
    font-weight: 500;
    font-family: Open 'Lucida Sans';
}

a.navbar-brand {
    font-size: 2vw;
    margin: 0;
    color: black;
    font-weight: 900;
    text-shadow: -.5px -.5px 0 #ffffff, .5px -.5px 0 #ffffff, -.5px .5px 0 #ffffff, .5px .5px 0 #ffffff;
}

a:hover.navbar-brand {
}

.nav > li > a {
    color: black;
}

    .nav > li > a:hover {
        background-color: transparent;
    }

a.dropdown-item {
    color: black;
}

a:hover.dropdown-item {
}

.dropdown-item {
    color: grey;
}

/* Collapse bar */

.collapse .nav a {
    background-color: whitesmoke;
}

/* TO TOP BUTTON SIZE ADUJSTER*/

img.toTop {
    height: 18vh;
    width: 9.8vw;
}

.toTop {
    position: fixed;
    top: 78vh;
    opacity: .8;
    z-index: 100;
}

/* centering button */

.centerButton {
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 10vw;
}

/* button extra large */

.btn-xl {
    padding: 10px 20px;
    font-size: 4vw;
    border-radius: 30px;
    color: aliceblue;
}
