
/*TOP BUTTON */

/* TEXT STYLES */

.title {

    font-family: 'Quicksand';
    font-size: 10vh;
    text-align: center;
    padding-left: 3vw;

}

.center {

    font-family: 'Roboto';
    font-size: 5vw;

}

.title2 {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5vw;
    text-align: center;
}

/* CAPTION FOR VIDEO */

.caption {

    height: auto;
    padding: 100px 100px;

}

/* VIDEO */
.video {

    position: absolute;
    padding:0px;
    margin-top: -50vh;

}