
body {
    padding-top: 56px;
}

.title {
    font-weight: 800;
    font-family: 'Quicksand';
    font-size: 60px;
    text-align: center;
    color: white;
}

h3{
    font-weight: 600;
    font-size: 40px;
    color:white;
    outline-color: black;
}
.title2 {
    font-family: Georgia;
    font-size: 40px;
    text-align: center;
}

.content {
    font-size: 20px;
}
/* CAPTION SECTION */

.caption {
    background: url(images/strip.jpg);
    height: auto;
    padding: 100px 100px;
    height: 300px;
}
